#header {
    background-color: #917af9;
}

a {
    color: #efefef;
}

a:hover {
    text-decoration: none;
}


#about {
    background-color: #917af9;
    color: #efefef;
    padding: 10px;
    margin-top: 40px;
    border-radius: 15px;
}

body {
    background-color: #f9f9f9;
}