{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12"></div>

            <form action="/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" />
            </form>


            <h1>Book Recommendations</h1>

            <h3>Enter at least two books you like</h3>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="test1"><i class="fa fa-book"></i></span>
                    <input type="text" class="form-control", placeholder="Enter a book title" aria-describedby="test1">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="test1"><i class="fa fa-book"></i></span>
                    <input type="text" class="form-control", placeholder="Enter a book title" aria-describedby="test1">
                </div>
            </div>
        </div>
    </div>


{% endblock %}