{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <h3>What travel spots have you enjoyed?</h3>
            {% crispy form %}

            <div id="about">
                <h3>About</h3>
                <p>This site recommends cities and towns to travel to based on
                what people similar to you like. Recommendations improve
                as more people use the site. It's brand new, and rapidly improving.</p>
            </div>
        </div>
    </div>


{% endblock %}